# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.loader.mjs
.yarn/install-state.gz

# Next.js build artifacts
/.next/
/out/

# Firebase
/.firebase/
firebase-debug.log
database-debug.log

# Build output
/build
/dist

# IDE and Editor directories
/.idea
/.vscode/*
!/.vscode/settings.json

# Environment variables
.env
.env*.local
*.env

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

# Other
coverage
